@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* set colours */
/* :root {
  --y-color: #00BBF9;
  --hk-color: #0099D3;
  --cf-color: #F15BB5;
  --ev-color: #AF77EA;
  --bg-color: #FFFF67;
} */
:root {
  --y-color: #6A4C93;
  --hk-color: #1982C4;
  --cf-color: #D8315B;
  --ev-color: #1E6462;
  --bg-color: #f5f5f5;
  --wt-color: #c7c7c7;
}


/* global settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1rem;
  transition: 0.2s;
}

body {
    background-image: url("./img/gplay.png");
    background-repeat: repeat;
    height: 100vh;
}

.hide {
  display: none;
}

/* header section - intro & buttons */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 350px;
  border-radius: 10px;
  margin: 30px auto;
  padding: 15px;
  background-color: #fff;
}

header h1 {
  margin: 20px 10px 0px 10px;
  font-size: 1.8em;
  letter-spacing: 0.1em;
}

header img {
  margin: 10px;
  height: 60px;
  width: 60px;
}

header p {
  width: 80%;
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

/*buttonsDiv*/

h2 {
  margin: 15px;
  font-size: 1.4em;
}

.buttonsHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  vertical-align: top;
}

button {
  width: 200px;
  height: 75px;
  margin: 10px;
  border-radius: 7.5px;
  background-color: var(--bg-color);
  font-size: 1.4em;
}

/* waiting to load */
.waitingButton > button {
  border: 3px solid var(--wt-color);
  color: var(--wt-color);
}

/* once loaded */
.yFill {
  border: 3px solid var(--y-color);
  color: var(--y-color);
}

.hkFill {
  border: 3px solid var(--hk-color);
  color: var(--hk-color);
}

.cfFill {
  border: 3px solid var(--cf-color);
  color: var(--cf-color);
}

.evFill {
  border: 3px solid var(--ev-color);
  color: var(--ev-color);
}

button:hover, button:focus, button.selected {
  outline: none;
  color: #fff;
}

button.yFill:hover, button.yFill:focus, button.yFill.selected {
  background-color: var(--y-color);
}

button.hkFill:hover, button.hkFill:focus, button.hkFill.selected {
  background-color: var(--hk-color);
}

button.cfFill:hover, button.cfFill:focus, button.cfFill.selected {
  background-color: var(--cf-color);
}

button.evFill:hover, button.evFill:focus, button.evFill.selected {
  background-color: var(--ev-color);
}

/* data section */
#dataList {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.businessHeader {
  width: 100%;
}

.yBorder {
  border: 3px solid var(--y-color);
}

.yBorder .notes {
  border-top: 3px solid var(--y-color);
}

.hkBorder {
  border: 3px solid var(--hk-color);
}

.hkBorder .notes {
  border-top: 3px solid var(--hk-color);
}

.cfBorder {
  border: 3px solid var(--cf-color);
}

.cfBorder .notes {
  border-top: 3px solid var(--cf-color);
}

.nope {
  text-decoration: line-through;
  color: #1f1f1f;
}

/* business cards */
div.business {
  width: 300px;
  min-height: 215px;
  margin: 10px;
  border-radius: 7.5px;
  background-color: #fff;
  padding: 0 0 15px 0;
}

div.business * {
  padding: 10px 10px 0 10px;
  text-align: left;
  background-color: #fff;
}

div.business a {
  padding: 0;
}

div.business h3 {
  margin: 0px;
  padding: 10px;
  border-radius: 7.5px, 7.5px, 0px, 0px;
  font-size: 1.5em;
  color: #fff;
}

div.business div.booze, div.business div.booze * {
  padding: 5px;
}

div.business.yBorder h3 {
  background-color: var(--y-color);
}

div.business.hkBorder h3 {
  background-color: var(--hk-color);
}

div.business.cfBorder h3 {
  background-color: var(--cf-color);
}

p.businessType {
  text-align: center;
  font-size: 1.4em;
}

span.businessInfo {
  display: inline-block;
  width: 45%;
  text-align: center;
  font-size: 1.1em;
}

/* events lists */
div.events {
  width: 400px;
  margin: 20px;
  border: 3px solid var(--ev-color);  border-radius: 10px;
  background-color: #fff;
}

div.events * {
  text-align: left;
}

div.events h3 {
  margin: 0px;
  padding: 5px;
  font-size: 1.5em;
  color: #fff;
  background-color: var(--ev-color);
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--ev-color);
  padding: 0 0 15px 0;
}

li * {
  padding: 10px 10px 0 10px;
}

li div.eventEssential {
  background-color: var(--bg-color);
  padding: 15px;
}

li div.eventEssential *, li p a {
  padding: 0;
}

li div.eventEssential h4 {
  font-size: 1.4em;
  color: var(--ev-color);
}

li div.eventEssential p span {
  font-size: 1.2em;
}
