@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v9/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* global settings */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 1rem;
  /* background-color: #e7e7e7; */
}

body {
    background-image: url("gplay.png");
    background-repeat: repeat;
    height: 100vh;
}

.hide {
  display: none;
}

/* header section */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 350px;
  padding: 15px;
}

header h1 {
  margin: 20px;
  font-size: 3em;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 img {
  margin: 0px;
}

header p {
  margin: 0 0 10px 0;
  font-size: 1.2em;
}

/*locations*/

h2 {
  margin: 15px;
  font-size: 1.5em;
}

.locationButtons {
  display: flex;
  justify-content: center;
  vertical-align: top;
}

button.location {
  display: inline-block;
  width: 200px;
  height: 75px;
  margin: 10px;
  border-radius: 7.5px;
  border: 3px solid #fff;
  color: #fff;
  transition: 0.2s;
  font-size: 1.4em;
}

.hkFill {
  background-color: #7768AE;
}

.yFill {
  background-color: #468FCC;
}

button:hover, button:focus, button.selected {
  background-color: #fff;
  outline: none;
}

button.hkFill:hover, button.hkFill:focus, button.hkFill.selected {
  border: 3px solid #7768AE;
  color: #7768AE;
}

button.yFill:hover, button.yFill:focus, button.yFill.selected {
  border: 3px solid #468FCC;
  color: #468FCC;
}

/* businesses section */
section.businesses {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hkBorder {
  border: 3px solid #7768AE;
}

.yBorder {
  border: 3px solid #468FCC;
}

.nope {
  text-decoration: line-through;
  color: #1f1f1f;
}

/* business cards */
div.business {
  width: 300px;
  min-height: 215px;
  margin: 10px;
  border-radius: 7.5px;
  background-color: #ffffff;
}

div.business * {
  padding: 5px;
  text-align: left;
  background-color: #fff;
}

div.business h3 {
  margin: 0px;
  font-size: 1.5em;
  border-radius: 7.5px, 7.5px, 0px, 0px;
  color: #fff;
}

div.business.hkBorder h3 {
  background-color: #7768AE;
}

div.business.yBorder h3 {
  background-color: #468FCC;
}

span.businessInfo {
  display: inline-block;
  width: 45%;
  text-align: center;
  font-size: 1.1em;
}
